Sara Isabel Domínguez C. 20161005072

In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv('adidas.csv')

In [5]:
df.shape

(845, 20)

In [6]:
df.columns

Index(['url', 'name', 'sku', 'selling_price', 'original_price', 'currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language',
       'average_rating', 'reviews_count', 'crawled_at'],
      dtype='object')

In [16]:
cols = ['url', 'name', 'sku','currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language']

In [89]:
## Nuestro proposito será eliminar esta columna
df.loc[ : , ["availability"]].value_counts() / size_df

availability
InStock         0.99645
OutOfStock      0.00355
dtype: float64

Según el dataset de adidas, para las columnas categóricas, encontrar -aquellas columnas que tienen mas de un nivel, y que por lo menos uno de esos niveles represente mas o igual del 98%. Para las columnas que cumplan esa premisa, eliminaran del array de columnas validas

In [83]:
cols_valid = []
cols_many_leves = []
cols_one_level = []
cols_eliminated = []

size_df = df.shape[0]
umbral = 0.98

for col_ in cols:
    
    levels = df.loc[ : , [col_] ].drop_duplicates().shape[0]
    
    if len(df.groupby(col_).size()) > 1 and any(df.groupby(col_).size().apply(lambda x: x / df.shape[0]) >= umbral):
        cols_eliminated.append(col_)    
    elif (levels / size_df)  >= umbral:
        cols_many_leves.append(col_)
    elif levels == 1: 
        cols_one_level.append(col_)        
    else:
        cols_valid.append(col_)

In [84]:
cols_many_leves

['url', 'sku', 'images']

In [76]:
cols_one_level

['currency', 'source', 'source_website', 'brand', 'country', 'language']

In [85]:
cols_valid

['name', 'color', 'category', 'breadcrumbs', 'description']

In [87]:
cols_eliminated

['availability']

In [90]:
df.loc[ : , cols_valid ]

,name,color,category,breadcrumbs,description
0,Beach Shorts,Black,Clothing,Women/Clothing,Splashing in the surf. Making memories with yo...
1,Five Ten Kestrel Lace Mountain Bike Shoes,Grey,Shoes,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...
2,Mexico Away Jersey,White,Clothing,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse..."
3,Five Ten Hiangle Pro Competition Climbing Shoes,Black,Shoes,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...
4,Mesh Broken-Stripe Polo Shirt,Blue,Clothing,Men/Clothing,Step up to the tee relaxed. This adidas golf p...
...,...,...,...,...,...
840,Supernova+ Shoes,White,Shoes,Women/Shoes,Take off. Touch down. Repeat. These adidas run...
841,Choigo Shoes,White,Shoes,Women/Shoes,"If you want drama, the bold female track and f..."
842,Daily 3.0 Shoes,Black,Shoes,Kids/Shoes,The style is in the details of the Daily 3.0 S...
843,Daily 3.0 Shoes,Pink,Shoes,Kids/Shoes,The style is in the details of the Daily 3.0 S...
844,Choigo Shoes,Black,Shoes,Women/Shoes,Take your style to bold new heights. Throw in ...

Según el dataset de adidas, para las columnas categóricas, encontrar aquellas columnas que tengan entre 3-6 niveles. Al nivel con la frecuencia mas baja lo vamos a remplazar por la palabra Others, una vez ya tenga esa regla aplicarla al dataset original, tal cual como se hizo con el ejercicio hecho en clases.

In [98]:
## Tomaré 3 columnas para analizar que cumpla con 3 - 6 niveles.

In [91]:
df.loc[ : , ["category"]].value_counts() / size_df

category
Shoes          0.504142
Clothing       0.398817
Accessories    0.097041
dtype: float64

In [96]:
df.loc[ : , ["color"]].value_counts() / size_df

color
White         0.262722
Black         0.221302
Blue          0.123077
Grey          0.095858
Pink          0.073373
Green         0.069822
Purple        0.036686
Red           0.029586
Multicolor    0.023669
Yellow        0.020118
Orange        0.013018
Burgundy      0.010651
Beige         0.007101
Multi         0.004734
Gold          0.003550
Turquoise     0.002367
Silver        0.001183
Brown         0.001183
dtype: float64

In [97]:
df.loc[ : , ["breadcrumbs"]].value_counts() / size_df

breadcrumbs
Women/Clothing           0.208284
Women/Shoes              0.183432
Men/Shoes                0.168047
Men/Clothing             0.151479
Kids/Shoes               0.082840
Originals/Shoes          0.041420
Kids/Clothing            0.035503
Training/Accessories     0.029586
Originals/Accessories    0.026036
Women/Accessories        0.018935
Men/Accessories          0.017751
Soccer/Shoes             0.011834
Swim/Shoes               0.008284
Running/Shoes            0.005917
Soccer/Accessories       0.002367
Kids/Accessories         0.001183
Originals/Clothing       0.001183
Essentials/Shoes         0.001183
Running/Accessories      0.001183
Sportswear/Clothing      0.001183
Five Ten/Shoes           0.001183
Essentials/Clothing      0.001183
dtype: float64

In [99]:
## cumple con las condiciones Category.

In [101]:
df.loc[ : , ["category"]].value_counts() / size_df

## accesories es nuestro nivel con menos frecuencia.

category
Shoes          0.504142
Clothing       0.398817
Accessories    0.097041
dtype: float64

In [115]:
Levels = df.groupby(["category"],as_index=False).agg({"sku": ["count"]})
Levels.columns = Levels.columns.droplevel(1)
Levels

      category  sku
0  Accessories   82
1     Clothing  337
2        Shoes  426

In [132]:
## Por qué con Levels no funciona pero directamente del dataframe sí?
Levels_Frequency = Levels['category'].value_counts() < 100
Less_frequent = list(Levels_Frequency[Levels_Frequency == True].index)
Less_frequent

['Accessories', 'Clothing', 'Shoes']

In [135]:
Levels_Frequency = df['category'].value_counts() < 100
Less_f = list(Levels_Frequency[Levels_Frequency == True].index)
Less_f

['Accessories']

In [136]:
Others = df.loc[df['category'].isin(Less_f), : ]['category'].replace(Less_f,'Others')
df.category.update(Others)

In [138]:
df.loc[ : , ["category"]].value_counts()

category
Shoes       426
Clothing    337
Others       82
dtype: int64

In [137]:
df

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,source_website,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,https://www.adidas.com,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,https://www.adidas.com,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,https://www.adidas.com,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,InStock,White,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Take off. Touch down. Repeat. These adidas run...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,InStock,White,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,"If you want drama, the bold female track and f...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,InStock,Pink,Shoes,adidas United States,https://www.adidas.com,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Take your style to bold new heights. Throw in ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104